.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #f6f8fa;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
    border: 1px solid rgba(27,31,35,0.15);
}

.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 18px;
    color: #818181;
    display: block;
    transition: 0.3s;
}

.sidenav a:hover {
    color: #24292e;
}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}

/* fixed menu */
body {margin:0;}
@media screen and (min-width: 450px) {
  .main { padding: 5%; }
}

.navbar {
  overflow: hidden;
  position: fixed;
  top: 0;
  width: 100%;
  padding: 9px 10px 10px;
  background-color: #f6f8fa;
  border: 1px solid rgba(27,31,35,0.15);
}

.navbar a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.markdown-body {
  padding: 16px;
  margin-top: 65px;
}